
form {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.add-package-input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  height: 100px;
  resize: vertical;
}



.add-package-button{
  margin-left: 100px !important;
  padding: 10px 20px;
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.add-package-button:hover{
 border-radius: 30px;

}

.add-feature-btn{
  padding: 5px 10px;
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.add-feature-btn:hover{
 border-radius: 30px;
}