
  .confirm-button{
    padding: 10px 20px; 
    background:linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);;  
    border-radius: 10px; 
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    transition: 0.5s;
    width: 230px;
  }
  
  .confirm-button:hover {
    border-radius: 30px;
  }
  
  .confirmation-message {
    margin-top: 20px;
    font-size: 16px;
    color: black;
  }

  .deal-quotes {
    font-family: Arial, sans-serif; 
    animation: fadeIn 1s ease-in-out, bounce 1s ease-in-out; 
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  
  