
.login-signup-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
.signup-box{
    width: calc(100% - 24px);
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
 .input-signup{
    outline: none;
    border-color: #007bff;
  }
  
  .login-signup-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background:linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);;  
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .login-signup-btn:hover {
    border-radius: 30px; 
  }
  
  .toggle-mode {
    margin-top: 20px;
  }
  
  .toggle-mode p {
    color: #666;
    font-size: 14px;
  }
  
  .toggle-mode span {
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
  }
  
  .toggle-mode span:hover {
    text-decoration: underline;
  }

  
  .form-group-signup {
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .form-group-signup label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  
  .form-group select{
    width: calc(100% - 24px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
 
  .form-group select:focus {
    outline: none;
    border-color:  #2196c4;;
  }
  
  .signup-login-heading{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #2196c4;
    font-family: 'Pacifico', cursive; 
    animation: bounce 0.8s ease infinite;
  }
  
  .eye-container {
    text-align: center;
    margin-bottom: 20px; 
  }
  
  .eye-image {
    width: 100px; 
    height: auto; 
    border-radius: 50px;
    animation: spin 2s linear infinite; /* Apply animation */
  }
  
  .eye-image {
    width: 100px; 
    height: auto; 
    border-radius: 50px;
    animation: shake 0.5s ease-in-out infinite; /* Apply animation */
  }
  
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
  }

  
  
  