
  
  .add-account-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #2196c4;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .custom-label {
    /* Add custom label styles */
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .select-input {
    background-color: #fff;
  }
  
  
  .form-submit-button {
    padding: 12px;
    font-size: 16px;
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .form-submit-button:hover {
    border-radius: 30px;
  }
  