  .form-title {
    color: #2196c4;
  }

  .form-submit-button {
    padding: 12px;
    font-size: 16px;
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .form-submit-button:hover {
    border-radius: 30px;
  }
  