.navbar {
  background-color: #0f172a;
}

/* .navbar-left {
  display: flex;
  align-items: center;
} */

/* .logo img {
  width: 40px; 
  height: auto;
  margin-right: 10px;
} */

/* .brand-name {
  font-weight: bold;
  font-size: 18px; 
} */

/* .navbar-right {
  display: flex;
  align-items: center;
} */

/* .menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
} */

/* .menu-items li {
  margin-left: 20px;
  margin-top: 10px;
} */

/* .menu-items li:first-child {
  margin-left: 0;
} */

/* .menu-items a {
  color: #fff;
  text-decoration: none;
} */

/* .menu-items a:hover {
  text-decoration: underline;
} */

/* .menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff; 
  padding: 10px; 
} */

/* @media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  } */

  /* .menu-toggle {
    display: block; 
  } */

  /* .menu-items {
    flex-direction: column;
    align-items: flex-start; 
    display: none; 
    width: 100%;
    background-color: #0f172a;
    position: absolute; 
    top: 60px; 
    left: 0;
  } */

  /* .menu-items li {
    margin-left: 0;
    width: 100%;
    text-align: left; 
    padding: 10px 20px; 
    border-bottom: 1px solid #333;
  } */

  /* .menu-items li:last-child {
    border-bottom: none;
  } */

  /* .menu-items a {
    width: 100%;
    display: block;
    padding: 10px 0;
  }
 */

/* 
.menu-items.active {
  display: flex;
} */
